div.contenido{
	overflow: hidden;
	display: block;
	position: relative;
    margin: 0 auto;
    width: 98%;
    min-height: 250px;
}
div.contenido p{
	text-align: justify;
}

/*===============================================*/
