@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(font/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
}
html,body{
	min-width: 900px;
	margin: 0;
	padding: 0;
	width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}
hr{
    margin-bottom: 15px;
    margin-top: 15px;
    
}
.hr-gray{
    backgroud: #aaa; 
    border: #aaa 1px solid;
    margin-bottom: 10px;
    margin-top: 10px;
}
/* ========================================= */

header{
	width: 98%;
	margin: 0 auto;
	margin-top: 2ex;
	display: block;
	position: relative;
	overflow: hidden;
        box-shadow: 0px 0px 2px #aaa;
        border-radius: 10px;
}
header .logo{
	width: 25%;
	float: left;
	overflow: hidden;
}
header .logo img{
	max-width: 80%;
        height: 3.5em;
	display: block;
	margin: 0 auto;
}

header .menu{
	float: left;
	width: 70%;
	box-sizing: border-box;
	overflow: hidden;
}

header .menu ul{
	list-style: none;
	padding: 0;margin: 0;
	overflow: hidden;
}

header .menu ul li a{
	float: left;
	list-style: none;
	background: #fff;
	padding: 2ex;
	font-size: 1em;
	/*text-shadow: 1px 0px 1px #aaa;*/
	text-transform: capitalize;
	text-decoration: none;
    color:#3a6ee3;
}
header .menu li a:hover, header .menu li a:active{
	background: #306fd4;
	color: #FFF;
}

.cuerpo-pr{
	margin: 0 auto;
	display: block;
	width: 95%;
	padding: 1ex;
	box-shadow: 0px 0px 6px #777;
	border-radius: 5px;
        overflow: hidden;
        /* ========================= */
        text-align: center;
        position: relative;
}

/*============================================================*/
.divs-gestiones{
    display: block;
    overflow: hidden;
    box-sizing: border-box;
}

aside{
    width: 90%;
    margin: 0 auto;
    border:1px solid #ccc;
    padding: 0.5ex;
}
.good-will{
    clear: left;
    background: #eee;
    border: 1px solid #aaa;
    padding: 1ex;
    text-align: right;
}

footer p{
    text-align: center;
}
