div.contenido{
	overflow: hidden;
	display: block;
	position: relative;
    margin: 0 auto;
    width: 98%;
    min-height: 250px;
}
div.contenido p{
	text-align: justify;
}

/*===============================================*/

div.menu-lateral{
	float: left;
	width: 23%;
	overflow: hidden;
    border-radius: 0 10px 10px 0 ;
    box-sizing: border-box;
} 

div.menu-lateral ul {
	padding: 0;
	margin: 0;
	display: block;
	list-style: none;
}
div.menu-lateral ul li{
	overflow: hidden;
}

div.menu-lateral ul li a{
	font-size: 1.1em;
	padding: 1ex;
    margin-bottom: 1px;
	display: block;
	position: relative;
	color: #FFF;
	background: #4665e6;
	text-decoration: none;
}
div.menu-lateral ul li a span{
    color: rgb(111, 255, 194);
}

div.menu-lateral ul li a:hover{
	background: #2a3b84;
	color: #e1f7fc;
}

div.divisor div.linea-div-menu{
    float: left;
    width: 2px;
    background: #555;
    padding-bottom: 1000;
    margin-bottom: -1000;
}

/*=====================================*/

div.gestion{
	float:left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1ex;
	width: 72%;
    box-sizing: border-box;
    box-shadow: -2px 0px 10px #555; 
    padding: 2ex;
    border-radius: 6px;
}

.gestion #gestion-bienvenida{
    width: 100%;
    box-sizing: border-box;
}

.gestion #gestion-bienvenida .info-gestion-header{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.gestion #gestion-bienvenida .info-gestion-header h2{
    float: left;
    width: 60%; 
    border-bottom: 3px solid #5efa2f;
    border-top: 2px solid #306fd4;
    box-sizing: border-box;
}
.gestion #gestion-bienvenida .info-gestion-header h4{
    width: 40%;
    float: left;
    padding: 1ex;
    box-sizing: border-box;
    background: #e5e5e5;
    border: 1px solid #5efa2f;
    border-radius: 6px;
}
